.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: #6EAD96;
  font-size: 1.4rem;

  .left-side {
    margin-left: 24px;
    color: #FFFFFF;
  }

  .right-side {
    display: flex;
  }

  .nav-link-wrapper {
    border-bottom: 4px solid transparent;
    margin-right: 24px;

    a {
      color: #FFFFFF;
      text-decoration: none;
      &:hover {
        color: #FFFFFF;
      }
    }
    
    &:hover {
      border-bottom: 4px solid #FFFFFF;
    }

    .nav-link-active {
      border-bottom: 4px solid #FFFFFF;
    }
  }
}